:root {
    --white: #fff;
    --blue: #006CFA;
    --green: #00E165;
}
.my-cell {
    border: 1px solid transparent;
    min-height: 50px;
    padding: 10px;
    color: var(--white);
    text-align: center;
}
.blue {
    background-color: var(--blue);
}
.green {
    background-color: var(--green);
}
